.animlink {
	/*opacity: 0.7;*/
}

.animlink:hover {
    /*border-color: #337ab7;*/
    border-radius: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #337ab7;
	opacity: 1;
	
	transition-duration: 0.1s;
	-webkit-transition-delay: .01s; 
	transition-delay: .01s;	
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

    z-index: 99999;	
}

.animlinkColor {
	/*opacity: 0.7;*/
}

.animlinkColor:hover {
    /*border-color: #337ab7;*/
    border-radius: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #337ab7;
	opacity: 1;
	
	transition-duration: 0.1s;
	-webkit-transition-delay: .01s; 
	transition-delay: .01s;	
/*	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);	*/
}