.panel-blue {
	background-color: #337ab7;
}

.panel-green {
	background-color: #5cb85c;
}

.panel-shadow {
	  box-shadow:
	   0 1px 4px rgba(0, 0, 0, .3),
	   -23px 0 20px -23px rgba(0, 0, 0, .8),
	   23px 0 20px -23px rgba(0, 0, 0, .8),
	   0 0 40px rgba(0, 0, 0, .1) inset;	
}

.panel-orange {
	background-color: #f0ad4e;
}

.panel-row {
	/*padding-bottom: 100px;*/
	color: #fff;
}

.panel-footer-row {
	/*padding-bottom: 20px;*/
}

#datepicker {
	display: initial;
	/*width: 150px;*/
}

.calinput {
	width: 200px;
}

.authorinput {
	width: 150px;
}

.statusinput {
	width: 150px;
}

.input-group {
    display: inline-table;
    vertical-align: middle;

    .input-group-addon,
    .input-group-btn,
    .form-control {
        /*width: auto !important;*/
    }
}

#filterStatus {
	width: 150px;
}