html,
body {
    height: 100%;
}

.nav-label {
    margin-right: 3px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0 60px;
    overflow: overlay;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.counters {
    height: 160px;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.form-control {
    z-index: 9999;
}

.btn-menu {
    margin-top: 30px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

.navbar-skoda > li > a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-skoda > nav > li > a {
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-skoda > a {
    color: #FFFFFF;
    text-decoration: none;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img{
    height: 45px;
}

/* */

.navbar-skoda {
    background-color: #4ba82e;
}

.navbar-skoda  > li.disabled > a {
    color: #FFFFFF;
}

.navbar-nav > li > .dropdown-menu a:link{
    color: #555;
    /*background-color: #4ba82e;*/
}

.navbar-skoda > li > .dropdown-menu a:hover{
    color: #4ba82e;
    /*background-color: #4ba82e;*/
}

.navbar-skoda a:link {
    color:#FFFFFF;
}

.navbar-fixed-top a:active{
    color:#555;
}

/* */

/*h1 {
    display: none;
}*/
 
.jumbotron h1 {
    display: block;
}

.grid-view td.action-column {
    white-space: nowrap;
    text-align: center;
    letter-spacing: 0.1em;
    max-width: 7em;
}

/*.user-index {
    width: 75%;
    float: left;
}*/

.servicesheduler-index {
    width: 75%;
    float: left;
}

.servicesheduler-list {
    margin: 0 0 10px 0;
    padding: 10px 0 10px 30%;
}

.statusmonitor-index {
    width: 75%;
    float: left;
}

.statusmonitor-search-form {
    /* width: 40%; */
    float: right;
    margin-top: -6%;
}

.statusmonitor-item {
    float: left;
}

.positions-index {
/*    width: 75%;
    float: left;    */
}

.user-form {
    width: 60%;
}

.positions-form {
    width: 60%;
}

.user-search-form {
    /* width: 40%; */
    float: right;
    margin-top: -6%;
}

/*.companies-search-form {
     width: 40%; 
    float: right;
    margin-top: -6%;
}*/

.servicesheduler-search-form {
    /* width: 40%; */
    float: right;
    margin-top: -6%;
}

.position-search-form {
    /* width: 40%; */
    float: right;
    margin-top: -6%;
}

.admin-default-index {
    width:60%;
    
}

.user-view {
    /*width: 60%;*/
}

#statusmonitor-users-grid {
    /*margin-left: 10%;*/
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: inline;
  content: " ";
}

.statusmonitor-list {
    margin-top: 30px;
}

.img-thumbnail img{
    height: 10;
    width: 10;
}

.thumbnail{        
    width: 10px;
    height: 10px;
    overflow: auto;
}

.thumbnail img{
}

/** {
  -webkit-box-sizing: initial;
  -moz-box-sizing: content-box;
  -box-sizing: border-box;
}*/
/*
.col-lg-5 {
    width: 50%;
}*/

.statusmonitor-item h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#servicesheduler-responsible label{
    width: 50%;
}

.empty_grid {
    text-align: center;
}

#empty_grid {
    font-size: 18px;
    text-align: center;
    /*font-weight: normal;*/
}

.bold_grid {
    font-weight: bold;
    font-size: large;
}

.fc-day-number {
    font-weight: bold;
}

/*.progress-lg {
    height: 80px;
}*/

.navbar-primary {
    background-color: #ffffff;
    /*border-bottom: 1px solid rgba(0,0,0,0.15);*/
}

#creditcalendar-grid tbody tr:hover td {
        background: #46b8da;
}

/*.sidebar-admin {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    margin-bottom: 15px;
    margin: 25px;
}

.main-admin {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    margin-bottom: 15px;
    margin: 25px;
}*/

/*.navbar-primary > ul > li:hover:after{
    border: 1px solid red;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 100px;
}*/

/*NavBar Primary Like Twitter Menu*/

/*.navbar-primary > ul {
    list-style: none outside none;
}
.navbar-primary > ul li {
    border-bottom: 2px solid #DDDDDD;
    cursor: pointer;
    float: left;
    margin: 0;
    width:100px;
    height:50px;
    line-height:50px;
    position: relative;
    text-align:center;
}
.clearfix {
    clear: both;
}
.navbar-primary > ul li:hover:after,
ul li.active:after{
    border: 1px solid red;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 100px;
}*/

/*End*/